/**
 * @author: dwclake
 * @created: 10-17-2025
 *
 * Stylesheet responsible for styling the Home view
 */

@use "../utils/colours.scss";

.view {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "editor";
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    grid-area: editor;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;

    align-self: stretch;
    justify-self: stretch;
}

.editor {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    padding: 2rem;

    border: 2px solid colours.$text;
    border-radius: 10px;
    color: colours.$tint;
    background-color: colours.$accent;

    resize: none;
}