/**
 * @author: dwclake
 * @created: 10-18-2025
 */

/* Footer */
.container {
    grid-area: infobar;

    display: grid;
    height: 30px;
    width: 100%;

    align-content: center;
    justify-content: center;

    background-color: rgb(173, 161, 155);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
