{
	"useTabs": true,
	"tabSize": "4",
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 90,
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
