/* @author: dwclake
 * @created: 10-17-2025
 *
 * Stylesheet responsible for styling the Layout component,
 * which includes the header, main content area, and the footer
 */

 /* Layout */
.layout-container {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: "header" "main" "footer";
    overflow: auto;

    height: 100%;
    width: 100%;

    border-radius: 10px;
}

/* Header */
.header-container {
    grid-area: header;

    display: grid;
    grid-template-columns: 50px 25rem 50px 2fr;
    grid-template-areas: "logo title nav social";
    max-height: 80px;
    width: auto;

    margin: 1rem 1rem 0rem 1rem;

    align-content: center;

    background-color: #dceedd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header logo */
.header-logo {
    grid-area: logo;

    display: flex;
    object-fit: contain;
    height: 50px;
    width: 50px;

    position: relative;
    top: 1rem;
    left: 1rem;

    align-items: center;
}

/* Header title */
.header-title {
    grid-area: title;
    display: flex;
    padding: 0rem 1rem;

    align-items: center;
    justify-self: center;

    font-size: 2rem;
    color: #386248;
}

/* Header navigation */
.header-nav-dropdown {
    grid-area: nav;

    display: flex;

    position: relative;

    align-items: center;
}

.header-nav-dropdown-button {
    justify-content: left;

    font-size: 1rem;
    background-color: #dceedd;
    border: 3px solid #386248;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-nav-dropdown-list {
    display: box;
    max-width: 150px;
    height: auto;
    padding: 0.5rem 0.5rem;

    position: absolute;
    top: 2.5rem;
    left: 3rem;
    z-index: 10;

    align-items: center;
    justify-items: center;

    list-style: none;
    background-color: #164026;
    border: 3px solid #386248;
    border-radius: 10px;
}

.header-nav-dropdown-list li {
    justify-content: center;

    padding: 0.5rem 0rem;
}

.header-nav-dropdown-list a {
    padding: 0.2rem;

    text-decoration: none;
    color: #dceedd;
    border: 3px solid #386248;
    border-radius: 10px;
}

.header-nav-dropdown-list a.active {
    border: 2px solid #dceedd;
}

/* Header socials */
.header-socials {
    grid-area: social;

    display: flex !important;

    position: relative;

    align-items: center;
    justify-self: right;
}

.header-socials-list {
    display: flex;
    padding: 0rem 2rem;

    list-style: none;
}

.head-socials-list li {
    justify-content: center;

    padding: 0.5rem 0rem;
}

.header-socials-list a {
    padding: 0rem 2rem;

    text-decoration: none;
    color: #386248;
}

/* Main */
.main {
    grid-area: main;

    overflow-y: auto;
    margin: 0rem 1rem 0rem 1rem;

    background-color: #fdffee;
}

/* Footer */
.footer-container {
    grid-area: footer;

    display: grid;
    max-height: 80px;
    width: auto;
    margin: 0rem 1rem 1rem 1rem;

    align-items: center;
    justify-content: center;

    background-color: #dceedd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}