/**
 * @author: dwclake
 * @created: 10-22-2025
 *
 * Stylesheet responsible for styling the About view
 */

.view {
    display: grid;

    grid-template-columns: 100%;
    grid-template-areas: "idk";
    width: 100%;
    height: 100%;
}

.p {
    justify-self:center;
}