/**
 * @author: dwclake
 * @created: 10-17-2025
 *
 * Stylesheet responsible for styling the Home view
 */

.view {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "editor";
    width: 100%;
    height: 100%;

    font-size: 2rem;
}

.editor {
    display: flex;
    grid-area: "editor";
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;

    align-self: center;
    justify-self: center;
}

.editorText {
   display: flex;
   width: 100%;
   height: 98%;
   padding: 1rem;

   border: 2px solid rgb(55, 44, 47);
   border-radius: 10px;
   color: rgb(223, 211, 205);
   background-color: rgb(99, 88, 91);

   resize: none;
}