/* @author: dwclake
 * @created: 10-17-2025
 *
 * Stylesheet responsible for styling the Home view
 */

.view {
    display: grid;

    justify-content: center;
    align-content: center;

    font-size: 2rem;
}
