/**
 * @author: dwclake
 * @created: 10-18-2025
 */

/* Footer */
.container {
    grid-area: infobar;

    display: grid;
    height: 30px;
    width: 100%;

    align-content: center;
    justify-content: center;

    background-color: var(--colour-bg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px var(--colour-shade);
}
