/**
 * @author: dwclake
 * @created: 10-18-2025
 */

@use "utils/colours.scss";

/* Footer */
.container {
    grid-area: infobar;

    display: grid;
    height: 30px;
    width: 100%;

    align-content: center;
    justify-content: center;

    background-color: colours.$bg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px colours.$shade;
}
