/* @author: dwclake
 * @created: 10-17-2025
 *
 * Stylesheet responsible for styling the Layout component,
 * which includes the header, main content area, and the footer
 */

 /* Layout */
.container {
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-areas: "toolbar" "main" "infobar";
    overflow: hidden;
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    border-radius: 10px;
}

/* Main */
.main {
    grid-area: main;

    overflow: hidden;
    margin: 2px 0;

    background-color: rgb(173, 161, 155);
}
