/* @Author: dwclake
 * @Created: 10-18-2025
 */

/* Header */
.container {
    grid-area: toolbar;

    display: grid;
    grid-template-columns: 75px 30px 7rem 50px 1fr;
    grid-template-areas: "buttons logo title nav social";
    max-height: 30px;
    width: auto;

    margin: 0rem 0rem 0rem 0rem;

    align-content: center;

    background-color: rgb(173, 161, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header logo */
.logo {
    grid-area: logo;

    display: flex;
    object-fit: contain;
    height: 30px;
    width: 30px;

    position: relative;
    top: 0.3rem;
    left: 0.6rem;

    align-items: center;
}

/* Header title */
.title {
    grid-area: title;
    display: flex;
    padding: 0rem 1rem;

    align-items: center;
    justify-self: center;

    font-size: 1rem;
    color: rgb(55, 44, 47);
}

/* Header navigation */
.dropdown {
    grid-area: nav;

    display: flex;

    position: relative;

    align-items: center;
}

.dropdownButton, button {
    justify-content: left;

    font-size: 0.8rem;
    background-color: rgb(173, 161, 155);
    color: rgb(55, 44, 47);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdownList {
    display: box;
    max-width: 150px;
    height: auto;
    padding: 0.5rem 0.5rem;

    position: absolute;
    top: 2.5rem;
    left: 3rem;
    z-index: 10;

    align-items: center;
    justify-items: center;

    list-style: none;
    background-color: rgb(173, 161, 155);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
}

.dropdownList li {
    justify-content: center;

    padding: 0.5rem 0rem;
}

.dropdownList a {
    padding: 0.2rem;

    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(55, 44, 47);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
}

.dropdownList a.active {
    border: 2px solid rgb(99, 88, 91);
}

/* Header socials */
.socials {
    grid-area: social;

    display: flex !important;

    position: relative;

    align-items: center;
    justify-self: right;
}

.socialsList {
    display: flex;
    padding: 0rem 2rem;

    list-style: none;
}

.socialsButton {
    margin: 0rem 2rem;
}
