/**
 * @author: dwclake
 * @created: 10-18-2025
 */

/* Header */
.container {
    grid-area: toolbar;

    display: grid;
    grid-template-columns: 70px 80px 100px 50px 1fr;
    grid-template-areas: "buttons logo title nav social";
    height: 30px;
    width: 100%;

    align-content: center;
    align-items: center;

    background-color: rgb(173, 161, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    app-region: drag;
}

/* Header logo */
.logo {
    grid-area: logo;

    display: flex;
    object-fit: contain;
    height: 30px;
    width: 30px;

    align-items: center;
    justify-self: center;
}

/* Header title */
.title {
    grid-area: title;
    display: flex;


    font-size: 2rem;
    color: rgb(55, 44, 47);
}

/* Header navigation */
.dropdown {
    grid-area: nav;
    display: flex;

    position: relative;

    align-items: center;
    justify-self: center;

    app-region: no-drag;
}

button {
    justify-content: left;

    font-size: 1.2rem;
    background-color: rgb(173, 161, 155);
    color: rgb(55, 44, 47);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdownList {
    display: box;
    max-width: 150px;
    height: auto;
    padding: 10px 10px;

    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;

    align-items: center;
    justify-items: center;

    list-style: none;
    background-color: rgb(173, 161, 155);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
}

.dropdownList li {
    justify-content: center;

    padding: 10px 0;
}

.dropdownList a {
    padding: 5px;

    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(55, 44, 47);
    border: 2px solid rgb(99, 88, 91);
    border-radius: 10px;
}

.dropdownList .active {
    color: rgb(123, 111, 105);
    border: 2px solid rgb(123, 111, 105);
}

/* Header socials */
.socials {
    grid-area: social;

    display: flex !important;

    position: relative;

    align-items: center;
    justify-self: right;
}

.socialsList {
    display: flex;
    padding: 0 20px;

    list-style: none;
}

.socialsButton {
    margin: 0 20px;

    app-region: no-drag;
}
