/**
 * @author: dwclake
 * @created: 10-18-2025
 */

/* Header */
.container {
    grid-area: toolbar;

    display: grid;
    grid-template-columns: 70px 80px 100px 50px 1fr 70px;
    grid-template-areas: "traffic-lights logo title nav social spacer";
    height: 30px;
    width: 100%;

    align-content: center;
    align-items: center;

    background-color: rgb(173, 161, 155);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    app-region: drag;
}

/* Header logo */
.logo {
    grid-area: logo;

    display: flex;
    object-fit: contain;
    height: 30px;
    width: 30px;

    align-items: center;
    justify-self: center;
}

/* Header title */
.title {
    grid-area: title;
    display: flex;


    font-size: 2rem;
    color: rgb(55, 44, 47);
}

/* Header socials */
.socials {
    grid-area: social;

    display: flex !important;

    position: relative;

    align-items: center;
    justify-self: right;
}

.socialsList {
    display: flex;
    padding: 0 20px;

    list-style: none;
}