/**
 *
 * @author dwclake
 */

@use "../utils/colours.scss";

.container {
    grid-area: infobar;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "project filename wordcount saved";
    height: 30px;
    width: 100%;

    align-content: center;

    background-color: colours.$bg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 5px colours.$shade;

    span {
        text-align: center;

        &.project {
            grid-area: project;
        }

        &.filename {
            grid-area: filename;
            justify-self: left;
        }

        &.wordcount {
            grid-area: wordcount;
            justify-self: right;
        }

        &.saved {
            grid-area: saved;
        }
    }
}
