/**
 * @author: dwclake
 * @created: 10-28-2025
 */

$bg: rgb(173, 161, 155);
$text: rgb(55, 44, 47);
$accent: rgb(99, 88, 91);
$shade: rgba(0, 0, 0, 0.1);
$shade2: rgba(0, 0, 0, 0.2);
$tint: rgb(223, 211, 205);
$fade: rgb(123, 111, 105);
$good: rgb(153, 171, 135);
$bad: rgb(193, 141, 135);

:root[data-theme="dark"] {
    --colour-bg: rgb(173, 161, 155);
    --colour-text: rgb(55, 44, 47);
    --colour-accent: rgb(99, 88, 91);
    --colour-shade: rgba(0, 0, 0, 0.1);
    --colour-shade2: rgba(0, 0, 0, 0.2);
    --colour-tint: rgb(223, 211, 205);
    --colour-fade: rgb(123, 111, 105);
    --colour-good: rgb(153, 171, 135);
    --colour-bad: rgb(193, 141, 135);
}
