/**
 * @author: dwclake
 * @created: 10-26-2025
 */

@use "../../utils/colours.scss";

.lucide {
	color: colours.$text;
}

.button {
    display: flex;
    box-sizing: border-box;

    font-size: 1.2rem;
    background-color: colours.$shade;
    color: colours.$text;
    border: 2px solid colours.$accent;
    border-radius: 10px;
    box-shadow: 1px 1px 2px colours.$shade;

    transition:
        transform 0.1s ease,
        background-color 0.1s ease,
        box-shadow 0.1s ease,
        color 0.1s ease;

    app-region: no-drag;

    &:hover {
        transform: translateY(0.25px) translateX(0.25px);
        background-color: colours.$good;
        color: colours.$text;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade;
    }

    &:hover.active {
        transform: translateY(0.25px) translateX(0.25px);
        background-color: colours.$bad;
        color: colours.$fade;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade;
    }

    &.active {
        color: colours.$fade;
    }

    &:disabled {
        transform: translateY(0.25px) translateX(0.25px);
        background-color: colours.$bad;
        color: colours.$text;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade;
    }

    &:active {
        transform: translateY(1px) translateX(1px);
        color: colours.$text;
        border: 2px solid colours.$accent;
        box-shadow: inset 0 2px 6px colours.$shade;
    }
}
