/**
 * @author: dwclake
 * @created: 10-26-2025
 */

@use "../../utils/colours.scss";

.dropdown-container {
    grid-area: nav;
    display: flex;

    position: relative;

    align-items: center;
    justify-self: center;
}

.dropdown-list {
    display: block;
    max-width: 150px;
    height: auto;
    padding: 5px 5px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    align-items: center;
    justify-items: center;

    list-style: none;
    background-color: colours.$bg;
    border: 2px solid colours.$accent;
    border-radius: 10px;

    opacity: 0;
    transform: translateY(0px) translateX(0px);
    transition: opacity 100ms ease, transform 100ms ease;
    pointer-events: none;
    visibility: hidden;

    &.open {
        z-index: 10;

        opacity: 1;
        transform: translateY(10px) translateX(20px);
        transition: opacity 100ms ease, transform 100ms ease;
        pointer-events: auto;
        visibility: visible;

        list-style: none;
        background-color: colours.$bg;
        border: 2px solid colours.$accent;
        border-radius: 10px;
    }

    li {
        display: flex;
        justify-content: center;

        padding: 5px 0;
    }

    a {
        display: flex;
        padding: 0px 5px;
        text-decoration: none;
        color: colours.$text;
    }

    button {
        display: flex;

        text-decoration: none;
        color: colours.$text;
    }

    .active {
        color: colours.$fade;
    }
}
