/**
 * @author: dwclake
 * @created: 10-26-2025
 */

.button {
    display: flex;
    box-sizing: border-box;

    font-size: 1.2rem;
    background-color: var(--colour-bg);
    color: var(--colour-text);
    border: 2px solid var(--colour-accent);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--colour-shade2);

    transition: transform 0.1s ease;

    app-region: no-drag;
}

.button:hover {
    transform: translateY(0.5px) translateX(0.5px);
    background-color: var(--colour-good);
    color: var(--colour-text);
    border: 2px solid var(--colour-accent);
    box-shadow: 1px 1px 2px var(--colour-shade2);
}

.button:hover.active {
    transform: translateY(0.5px) translateX(0.5px);
    background-color: var(--colour-bad);
    color: var(--colour-fade);
    border: 2px solid var(--colour-accent);
    box-shadow: 1px 1px 2px var(--colour-shade2);
}

.button.active {
    color: var(--colour-fade);
}

.button:disabled {
    transform: translateY(0.5px) translateX(0.5px);
    background-color: var(--colour-bad);
    color: var(--colour-text);
    border: 2px solid var(--colour-accent);
    box-shadow: 1px 1px 2px var(--colour-shade2);
}

.button:active {
    transform: translateY(2px) translateX(2px);
    box-shadow: 1px 1px 2px var(--colour-shade);
}