/**
 * @author: dwclake
 * @created: 10-26-2025
 */

@use "../../utils/colours.scss";

.button {
    display: flex;
    box-sizing: border-box;

    font-size: 1.2rem;
    background-color: colours.$bg;
    color: colours.$text;
    border: 2px solid colours.$accent;
    border-radius: 10px;
    box-shadow: 2px 2px 5px colours.$shade2;

    transition: transform 0.1s ease;

    app-region: no-drag;

    &:hover {
        transform: translateY(0.5px) translateX(0.5px);
        background-color: colours.$good;
        color: colours.$text;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade2;
    }

    &:hover.active {
        transform: translateY(0.5px) translateX(0.5px);
        background-color: colours.$bad;
        color: colours.$fade;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade2;
    }

    &.active {
        color: colours.$fade;
    }

    &:disabled {
        transform: translateY(0.5px) translateX(0.5px);
        background-color: colours.$bad;
        color: colours.$text;
        border: 2px solid colours.$accent;
        box-shadow: 1px 1px 2px colours.$shade2;
    }

    &:active {
        transform: translateY(2px) translateX(2px);
        box-shadow: 1px 1px 2px colours.$shade;
    }
}