// Default and Global styles and classes go here

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}