/**
 * Provides global stying
 */

@use "$styles/colours.scss";
@use "$styles/fonts.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body,
#svelte {
    height: 100%;
    width: 100%;

    font-size: 10px;

    padding: 0;
    margin: 0;

    color: colours.$text;
    background-color: colours.$accent;
}
