/* @author: dwclake
 * @created: 10-17-2025
 *
 * Global stylesheet providing font classes and any default stying
 */

/* Font classes */

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}

.intel-one-mono {
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

/* Default styling */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    color: #ffffff;
    background-color: #000000;
}