/**
 * Provides default stying
 *
 * @author dwclake
 */

// @TODO switch away from css modules. use placeholder classes, utility classes
// for things like font, colours, text-align etc. Consider switching project to svelte

@use "utils/colours.scss";
@use "utils/fonts.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styling */
html, body, #root {
    height: 100%;
    width: 100%;

    font-size: 10px;

    padding: 0;
    margin: 0;

    color: colours.$text;
    background-color: colours.$accent;
}