/**
 * @author: dwclake
 * @created: 10-18-2025
 */

@use "utils/colours.scss";
@use "components/ui/button.module.scss" as *;
@use "components/ui/dropdown.module.scss" as *;

/* Header */
.container {
    grid-area: toolbar;

    display: grid;
    grid-template-columns: 70px 70px 90px 40px 100px 1fr 70px;
    grid-template-areas: "traffic-lights logo title nav actions social spacer";
    height: 30px;
    width: 100%;

    align-content: center;
    align-items: center;

    background-color: colours.$bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px colours.$shade;

    app-region: drag;
}

/* Header logo */
.logo {
    grid-area: logo;

    display: flex;
    object-fit: contain;
    height: 30px;
    width: 30px;

    align-items: center;
    justify-self: center;
}

/* Header title */
.title {
    grid-area: title;
    display: flex;

    font-size: 2rem;
    color: colours.$text;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Header socials */
.socials {
    grid-area: social;
    display: flex;

    position: relative;

    align-items: center;
    justify-self: right;
}

.socialsList {
    display: flex;
    padding: 0 1rem;

    list-style: none;
}